
@{
    ViewBag.Title = "AdminFAQ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<paper-material elevation="3" class="paperMaterial wider">
    <div class="row"><div style="text-align:center"><h1>FAQ's</h1></div></div>
    <hr /><br />
    <div class="row button-pad">
        <ol>
            <li><a href="#takingAttendance">Taking Attendance</a></li>
            <li><a href="#schAttendance">Scheduling Attendance</a></li>
            <li><a href="#lecture">Creating a Lecture</a></li>
            <li><a href="#module">Creating a Module</a></li>
            <li><a href="#qualification">Creating a Qualification</a></li>
            <li><a href="#venue">Entering a Venue</a></li>
        </ol>
    </div>
    <br />
</paper-material>
<br />
<paper-material elevation="3" class="wider paperMaterial" id="takeAttendance">
    <div class="row"><div style="text-align:center"><h1>1. Taking Attendance</h1></div></div>
    <hr />
    <div class="row">

    </div>
</paper-material>
<br />
<paper-material elevation="3" class="wider paperMaterial" id="schAttendance">
    <div class="row"><div style="text-align:center"><h1>2. Scheduling Attendance</h1></div></div>
    <hr />
    <div class="row">

    </div>
</paper-material>
<br />
<paper-material elevation="3" class="wider paperMaterial" id="lecture">
    <div class="row"><div style="text-align:center"><h1>3. Creating a Lecture</h1></div></div>
    <hr />
    <div class="row">

    </div>
</paper-material>
<br />
<paper-material elevation="3" class="wider paperMaterial" id="module">
    <div class="row"><div style="text-align:center"><h1>4. Creating a Module</h1></div></div>
    <hr />
    <div class="row">

    </div>
</paper-material>
<br />
<paper-material elevation="3" class="wider paperMaterial" id="qualification">
    <div class="row"><div style="text-align:center"><h1>4. Creating a Qualification</h1></div></div>
    <hr />
    <div class="row">

    </div>
</paper-material>
<br />
<paper-material elevation="3" class="wider paperMaterial" id="venue">
    <div class="row"><div style="text-align:center"><h1>5. Entaring a Venue</h1></div></div>
    <hr />
    <div class="row">

    </div>
</paper-material>