@model Insight.Models.MonthlyStats
@{
    ViewBag.Title = "Custom";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<paper-material class="wider paperMaterial">
    <div class="row">
        <div style="text-align:center"><h1>Custom Time Period Statistics</h1></div>
        <hr />
    </div>
    @using (Html.BeginForm("Yearly", "Statistics"))
    {
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <link rel="import" href="~/Components/paper-date-picker-master/paper-date-picker-dialog.html">
        <div class="form-horizontal container">
            <table>
                <tr>
                    <td style="width:400px" class="form-inline form-group"><span>Select Module :</span> @Html.DropDownListFor(m => m.Modules, Model.Modules, new { @class = "form-control" })</td>
                    <td style="width:400px;">
                        <template is="dom-bind" id="scope">
                            <section>
                                <paper-button class="btn" on-tap="showDialog" raised>Change Month</paper-button>
                                <paper-dialog id="dialog" class="paper-date-picker-dialog" modal on-iron-overlay-closed="dismissDialog">
                                    <paper-date-picker id="picker" responsive-width="655px"></paper-date-picker>
                                    <div class="buttons">
                                        <paper-button dialog-dismiss>Cancel</paper-button>
                                        <paper-button dialog-confirm>OK</paper-button>
                                    </div>
                                </paper-dialog>
                                <label style="font-size:40px;">{{dateFormat(date, 'YYYY')}}</label>
                            </section>
                        </template>
                    </td>
                    <td><paper-button class="accept-button button-pad">Submit</paper-button></td>
                </tr>
            </table>
            <hr />
            <script>
                    document.addEventListener('WebComponentsReady', function () {
                        var scope = Polymer.dom(document).querySelector('#scope');
                        scope.dateFormat = scope.$.picker.dateFormat;
                        scope.dismissDialog = function (event) {
                            if (event.detail.confirmed) {
                                scope.date = scope.$.picker.date;
                            }
                        };
                        scope.showDialog = function () {
                            this.$.dialog.toggle();
                        };
                        scope.date = new Date();
                    });

            </script>

        </div>
    }
</paper-material>

