
<link rel="import" href="~/Components/paper-date-picker-master/paper-date-picker-dialog.html">
<template is="dom-repeat" id="scoped">
    <section>
        <h1>{{dateFormat(date, 'LL')}}</h1>
        <paper-button class="btn" on-tap="showDialog" raised>Change Date</paper-button>
        <paper-dialog id="dialog" class="paper-date-picker-dialog" modal on-iron-overlay-closed="dismissDialog">
            <paper-date-picker id="picker" responsive-width="655px"></paper-date-picker>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>
    </section>
</template>


<script>
    document.addEventListener('WebComponentsReady', function () {
        var scope = Polymer.dom(document).querySelector('#scoped');
        scope.dateFormat = scope.$.picker.dateFormat;
        scope.dismissDialog = function (event) {
            if (event.detail.confirmed) {
                scope.date = scope.$.picker.date;
            }
        };
        scope.showDialog = function () {
            this.$.dialog.toggle();
        };
        scope.date = new Date();
    });

</script>



