@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <br />
    <div class="jumbotron">
        <h1>Insight Attendance System&trade;</h1>
        <p>Insight Attendance System uses facial recognition for taking attendance to produce more accurate attendance data and the data is stored on an back end database.</p>
    </div>
    <paper-material elevation="3">
        <div class="container">
            <h4>Yearly attendance</h4>
        </div>
    </paper-material>
</div>