
@{
    ViewBag.Title = "studReg";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <br />
    <paper-material elevation="3">
        <div class="row" style="text-align:center">
            <h2>STUDENT DETAILS</h2>
            <hr />
            <div class="col-md-4">
                <img src="~/Uploads/face0.jpg" alt="face" />
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </paper-material>
    <br />
    <paper-material>
        <div class="row">

        </div>
    </paper-material>
</div>

