body {
    font-family: Roboto, Raleway;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(../Img/bground.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.smooth {
    border-radius: 2px 2px 2px 2px;
}

/*Fix the footer to the bottom of the page*/
.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    padding-top: 10px;
    font-size: .9em;
}

.accept-button {
    width: 300px;
    background: #4285f4;
}

.decline-button {
    background: #ff0000;
}

h2, h1, h3, h4, label {
    font-family: Raleway, sans-serif;
    font-weight: 300;
}

.smoother {
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
}

paper-radio-button {
    display: block;
}

paper-tabs, paper-toolbar {
    background-color: #00bcd4;
    color: #fff;
    box-shadow: none;
}

.paperMaterial {
    background-color: white;
}

.wider {
    width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.pad-me {
    padding-left: 15px;
}

.button-pad {
    padding-right: 15px;
    padding-left: 15px;
}

paper-ripple {
    z-index: 10;
    color: #4285f4;
}
